* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: hsl(var(--hue), 10%, 90%);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--hue), 40%, 12%);
  }
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  background-color: hsl(var(--hue), 10%, 95%);
  font-size: 22px;
  font-family: freight-text-pro, serif;
  font-weight: 400;
  color: hsl(var(--hue), 60%, 8%);
  box-sizing: border-box;
  opacity: 0;
  animation: fadein 1s ease .2s forwards;

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--hue), 60%, 8%);
    color: hsl(var(--hue), 20%, 95%);
  }
}

h1, h2, h3, p, blockquote {
  margin: 0;

  & + & {
    margin-top: 1em;
  }
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  font-family: freight-display-pro;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-family: freight-sans-pro;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: bold;

  &.subtitle {
    font-weight: 400;
    font-family: freight-text-pro;
    font-style: italic;
    margin-bottom: 1.5em;
    color: hsl(var(--hue), 10%, 60%);

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--hue), 20%, 40%);
    }
  }
}

p {
  line-height: 1.5em;
}

blockquote {
  padding: 2px 0 2px 24px;
  box-shadow: inset 2px 0 hsl(var(--hue), 20%, 80%);

  > p {
    font-style: italic;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: inset 2px 0 hsl(var(--hue), 20%, 55%);
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: hsl(var(--hue), 10%, 80%);

  @media (prefers-color-scheme: dark) {
    text-decoration-color: hsl(var(--hue), 40%, 40%);
  }

  &.back {
    text-decoration: none;
    color: hsl(var(--hue), 10%, 80%);

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--hue), 40%, 40%);
    }
  }

  &:hover {
    color: hsl(var(--hue), 80%, 4%);
    text-decoration-color: hsl(var(--hue), 60%, 60%);

    &.back {
      color: hsl(var(--hue), 80%, 4%);
    }

    @media (prefers-color-scheme: dark) {
      color: hsl(var(--hue), 40%, 100%);

      &.back {
        color: hsl(var(--hue), 40%, 100%);
      }
    }
  }
}

.name {
  font-family: freight-sans-pro;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  text-decoration: none;
  color: hsl(var(--hue), 10%, 60%);

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--hue), 20%, 40%);
  }
}

////////////////

#banner-container {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 80px;
}

#banner {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
  justify-content: center;
  position: relative;

  > div {
    display: flex;
    flex-flow: row nowrap;

    > div {
      display: flex;
      flex-flow: column nowrap;

      > div {
        width: 16px;
        height: 16px;
        visibility: hidden;

        &.solid {
          visibility: visible;
        }
      }
    }
  }
}

main {
  width: 640px;
  margin: 120px auto;

  @media (max-width: 720px) {
    width: calc(100vw - 80px);
  }

  a + h1 {
    margin-top: 48px;
  }

  body.layout-index & {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30vh;
    flex-flow: row nowrap;
    width: 840px;

    @media (max-width: 920px) {
      width: calc(100vw - 80px);
    }

    @media (max-width: 800px) {
      display: flex;
      flex-flow: column nowrap;
    }

    h1 {
      grid-column: 1 / 2;
      text-align: right;
      margin-bottom: 12px;
      padding-right: 24px;

      @media (max-width: 800px) {
        text-align: left;
      }
    }

    nav {
      grid-column: 1 / 2;
      font-size: 32px;
      font-family: freight-display-pro, serif;
      font-weight: 900;
      cursor: default;
      line-height: 1.1;
      text-align: right;
      padding-right: 24px;

      @media (max-width: 800px) {
        text-align: left;
        width: 100%;
        padding: 0;
      }

      a {
        text-underline-offset: 3px;
      }
    }

    ul {
      grid-column: 2 / 3;
      margin: 0;
      padding: 4px 0 0 24px;
      list-style: none;
      font-size: 20px;

      @media (max-width: 800px) {
        width: 100%;
        margin-top: 64px;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0;
        line-height: 1.25;

        a {
          font-family: freight-sans-pro, sans-serif;
          font-weight: bold;
        }

        time {
          margin-left: 8px;
          font-family: freight-sans-pro, sans-serif;
          color: hsl(var(--hue), 10%, 50%);
          white-space: nowrap;
        }

        & + li {
          margin-top: 8px;
        }
      }
    }
  }
}

footer {
  font-weight: 700;
  font-family: freight-sans-pro;
  margin-top: 64px;
  font-size: 16px;
  color: hsl(var(--hue), 10%, 50%);

  &::before {
    content: "—";
    display: block;
  }
}
