---
title: Jeremy Marquis
layout-variant: base
---

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/static/favicon.png">
  <title>{{ title | title }}</title>
  <link rel="stylesheet" href="https://use.typekit.net/jcy1wax.css">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/stylesheets/jm.css">
  <script src="/static/jm.js"></script>
</head>

<body class="layout-{{ layout-variant }}">
  <nav>
    <a href="/" {% if page.url=='/' %}class="current" {% endif %}>Jeremy Marquis</a>.
    <a href="https://linkedin.com/in/marquisjeremy" target="_blank">Software engineer</a>.
    <a href="https://github.com/jmarquis" target="_blank">Hacker</a>.
    <a href="/projects" {% if page.url contains "/projects" %} class="current" {% endif %}>Website maker</a>.
    <a href="https://vulpinecustoms.com" target="_blank">Controller modder</a>.
    <a href="https://twitter.com/MathSSBM" target="_blank">Melee player</a>.
    <a href="https://twitter.com/_jmarquis" target="_blank">Tweet poster</a>.
    <a href="/notebook" {% if page.url contains "/notebook" %} class="current" {% endif %}>Ramblin’ man</a>.
  </nav>
  {{ content }}
</body>

</html>
